{
  "presets": [
    ["env", {"modules" : "commonjs", "targets": { "node": 8 }, "debug": true}]
  ],
  "plugins": [
    "transform-async-to-generator",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "sourceMaps": "both"
  },
  "comments": false
}
