{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": [
    "transform-async-to-generator",
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "test": {
      "sourceMaps": "both"
    }
  },
  "comments": false
}
