{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "babel",
    "jest"
  ],
  "extends": [
    "eslint-config-i-am-meticulous",
    "plugin:jest/recommended",
    "eslint-config-prettier-standard"
  ],
  "rules": {
    "curly": [
      "error",
      "all"
    ]
  },
  "globals": {
    "jest/globals": true,
    "jasmine": true
  }
}
